# Ignore everything
*

# But not these files...
!.gitignore
!Interface.cpp
!AnalyseErrors.h
!AnalyseErrors.cpp
!DivideFps.h
!DivideFps.cpp
!ErrorDetectionClip.h
!ErrorDetectionClip.cpp
!BlockFpsWithCorrectionVectors.h
!BlockFpsWithCorrectionVectors.cpp
!test/*